html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, font, img, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* TAGS BÁSICAS */
 body{
   font-family: verdana;
   font-size: 12px;
 }

 p{ padding: 5px; }

 h1{
   font-family: arial;
   font-size: 24px;
   color: #933;
   font-weight: bold;
   margin-bottom: 5px;
 }
 h2{
  font-family: verdana;
  font-size: 14px;
  color: #000;
 }

 h3{
  font-family: verdana;
  font-size: 12px;
  color: #000;
 }

 ul li{ list-style-type: none; }

 table {
	background: none;
 	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}

th {
	background: none;
	border:1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
  color: #993333;
}
th a {
	background:none;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
  color: #993333;
}

table tr td {
 	background: none;
 	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}

table.none, table.none tr td{
  border:  none;
  margin: 0px;
  padding: 0;
  width: auto;
  text-align: left;
}

/* FORM ELEMENTS */
fieldset{
  border: 1px solid #999;
  margin-top: 20px;
}

fieldset legend {
  margin-left: 20px;
  color: #000;
	font-size: 110%;
	font-weight: bold;
}

 label{
  width: 10em;
  float: left;
  text-align:right;
  margin-right: 0.5em;
  display: block;
  font-weight: bold;
  margin-top: 5px;
}



 select,input,textarea{
  width: 270px;
  margin: 3px;
  border: 1px solid #999;
  padding: 2px;
}

input[type=submit],input[type=button]{
  width:auto;
  padding: 3px;
  background: #666;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  border: none;
  margin-left: 8.9em;
  text-align: center;
}

input.submit_left{

 margin-left: 0;

}

span.instrucoes{
 display:inline;
 color: #666;
 font-size:10px;

}
/* TAMANHO DE CAMPOS ESPECIAIS */
input.telefone{ width: 85px; }

input.data{
  width: 67px;
}

input.cep{
  width: 67px;
}

input.cpf{ width: 90px; }

input.custom{ width: auto; }

 /* FIM TAGS BÁSICAS */
div.error-message{
  width: 250px;
  margin-top:6px;
  color: #f00;
  float: right;
}

div#flashMessage {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


#container {
  position: relative;
  width: 920px;
  margin: 0 auto;

  background-image: url(../img/background.png);
  font-family: verdana;
  font-size: 11px;
  color: #333;
}
#content{
  position: relative;
  padding:10px;
}


#top div{ float: right; }
#top div ul li{
  float: left;
  margin-left: 20px;
  list-style:square;
  margin-right: 5px;
  font-size: 14px;
  font-weight:bold;
}
#menu{ margin-top: 11px; margin-bottom: 6px;}

#menu ul li{
  display: block;
  padding: 7px;
  background: #993333;
  color: #fff;
  display: inline;
  margin-right: 10px;
}

#menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight:bold;
}

#menu ul li a:hover{ color: #ccc; }

/* SIDEBAR */
#sidebar{ position: relative;float:right; width:220px; }

div#sidebar label{
  width: 5.5em;
  float: left;
  text-align:right;
  margin-right: 0.5em;
  display: block;
  font-weight: bold;
  margin-top: 5px;
}
div#sidebar select, div#sidebar input{
  width: 130px;
  margin: 3px;
}


div#sidebar div#cadastro{
  font-family: Arial;
  font-size: 14px;
  text-align:center;
  padding: 5px;
}

div#sidebar input[type=submit]{
  width:auto;
  margin-left: 5.2em;
}
 div#sidebar div#login ul li{
   margin: 10px;
 }

#forms, #consultenos{
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#forms{
  background: #ccc;
  padding: 5px;
}

#consultenos{
  margin-top: 5px;
  width: 200px;
  background: #F0B101;
  padding: 20px 10px;
  text-align: center;
  font-size: 13px;
}

#consultenos a{ text-decoration: none; color: #000}
#consultenos a:hover{ text-decoration: underline;}
#consultenos h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}
#consultenos span{
  display:block;margin-bottom: 5px;
}

#conteudo,#footer{ clear:both; }
#conteudo { margin-top: 10px;float:left;width:670px; }

#empty{ clear: both; }

#footer{
  position: relative;
  bottom: 0;
  background:#999;
  color: #fff;
  font-size: 11px;
  padding: 5px;
  width: 906px;
  margin:-10px;
  height: 15px;
  margin-top: 10px;
}

#footer .left{ float: left; }
#footer .right{ float: right; }

.imagem_pri{
  position:relative;
  margin-left: -10px;
  margin-bottom: 20px;
}


.imagem_pri span.resp{
  position:relative;float: right;
}

/* Paginação */
div.pag  {
  clear: both;

  width: 300px;
  margin: 0 auto;
  text-align:center;
}
 div.pag a {
   text-decoration:none;
 }

 /* Lista de Imoveis */
div#imovels { clear:both;margin-top:10px;width: 680px;float:left }
.box {
 position: relative;
 display:block;
 width:222px;
 float:left;
 margin-bottom:15px;
 text-align:center;
 height: 210px;
}

 .box img{ height: 110px; vertical-align: middle;}


.box p {
	padding:1px;
	display:block;
 }

.box p.desc,.box p.detalhes a {
  text-decoration: none;
	margin:0px;
	padding:0px;
  color: #000;

}

/* DETALHES DOS IMOVEIS */
div#det_imovel {
 width: 400px;
 float: right;

}

 div#det_imovel div.inf_imovel{
  clear: both;
  margin-left:35px;

 }
div.inf_imovel ul {
  margin-top: 10px;
}


div.inf_imovel ul li{ float: left; width: 45%; padding: 5px; }
.valor { color:#f00; }

div.obs_imovel, div.contato_imovel{
  clear: both;
  padding-top: 20px;
}

div.obs_imovel h4, div.contato_imovel h4{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #933;
}
