 /*  Additional styles for the controls. */
 #mycarousel{ width: 82%; margin: 0 auto;  }

 #mycarousel ul li img{ height: 73px;  }

.jcarousel-skin-tango .jcarousel-container-horizontal { width: 100%; }

.jcarousel-skin-tango .jcarousel-clip-horizontal { width: 100%; } 
